<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clinic Companion</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
    <script type="text/javascript">
        window.user = {{{ user }}};
      </script>
</head>

<body>
    <div class="fullPageContainer">
        <div id="floating-panel" class="center-align">
            <input id="address" type="textbox" value="" placeholder="Oakland, CA" required>
            <input id="submit" type="button" value="Search">
        </div>
        <script id='admin-template' type='text/x-handlebars-template'>
          \{{#if admin}}
        <a class="waves-effect waves-light btn modal-trigger modal-test right top" href="#modalNewClinic">Admin</a>
          \{{/if}}
        </script>
        <br>
        <div class="floatMap">
            <div id="map"></div>
        </div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkucwHjlesE88fzV0H4Dgn-S4JeIiS9XA&callback=initMap">
        </script>

        <!-- Modal Add Story -->
        <div id="modalNewStory" class="modal modal-fixed-footer">
            <div class="modal-content">
                <section class="container">
                    <form id='newStoryForm'>
                        <div class="form-group">

                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="storyContentInput" name="story_content" class="materialize-textarea"></textarea>
                                            <label for="storyContentInput">What is your story about this clinic?</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-4">
                        <button type="submit" id="submitNewStoryBtn" name="singlebutton" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            </fieldset>
            </form>
            </section>
        </div>
        <!-- end modal -->
        <!-- Modal Structure -->
        <div id="modalNewClinic" class="modal">
            <div class="modal-content">
                <section id='newClinicForm' class="container">
                    <!-- <div class="form-group">
                      <label class="col-md-4 control-label" for="loc">Longitude</label>
                      <div class="col-md-4">
                          <input id="longitudeInput" name="loc" type="number" placeholder="20.111" class="form-control input-md">
                      </div>
                  </div>
                  <div class="form-group">
                        <label class="col-md-4 control-label" for="loc">Latitude</label>
                        <div class="col-md-4">
                            <input id="latitudeInput" name="loc" type="number" placeholder="30.111" class="form-control input-md">
                        </div>
                    </div> -->
                    <form>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">latitude</label>
                            <div class="col-md-4">
                                <input id="textinput" name="latitude" type="text" placeholder="37.918030" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">longitude</label>
                            <div class="col-md-4">
                                <input id="textinput" name="longitude" type="text" placeholder="-122.365158" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address1">Address 1</label>
                            <div class="col-md-4">
                                <input id="textinput" name="address1" type="text" placeholder="20 Main St" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address2">Address 2</label>
                            <div class="col-md-4">
                                <input id="textinput" name="address2" type="text" placeholder="Building 2" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address3">Address 3</label>
                            <div class="col-md-4">
                                <input id="textinput" name="address3" type="text" placeholder="Suite 7" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="city">City</label>
                            <div class="col-md-4">
                                <input id="textinput" name="city" type="text" placeholder="Oakland" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="state">State</label>
                            <div class="col-md-4">
                                <input id="textinput" name="state" type="text" placeholder="CA" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="zipcode">Zipcode</label>
                            <div class="col-md-4">
                                <input id="textinput" name="zipcode" type="text" placeholder="94610" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="phone_number">Phone Number</label>
                            <div class="col-md-4">
                                <input id="textinput" name="phone_number" type="text" placeholder="555-555-5555" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="costs">Costs</label>
                            <div class="col-md-4">
                                <input id="textinput" name="costs" type="text" placeholder="The cost of a procedure..." class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>
                            <div class="col-md-4">
                                <input id="textinput" name="email" type="text" placeholder="example@example.com" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="website">Website</label>
                            <div class="col-md-4">
                                <input id="textinput" name="website" type="text" placeholder="http://www.example.com" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="book_appointment">Appointment Booking Link</label>
                            <div class="col-md-4">
                                <input id="textinput" name="book_appointment" type="text" placeholder="https://docasap.com/center/209315/-1/0/0/0/PPFA/9390684/0/0" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="social_media">Social Media</label>
                            <div class="col-md-4">
                                <input id="textinput" name="social_media" type="text" placeholder="Twitter: http://twitteraccount.com" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="image">Image URL</label>
                            <div class="col-md-4">
                                <input id="textinput" name="image" type="text" placeholder="http://picture.com" class="form-control input-md">
                            </div>
                        </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-4">
                        <button id="submitNewClinicBtn" name="singlebutton" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            </fieldset>
            </form>
            </section>
        </div>
        <!-- end modal -->



        <!-- ResultsPage Template -->

        <script id='results-template' type='text/x-handlebars-template'>
            <div class="row">
                <div class="col s10">
                    <h2 id ='idContainer' class="header" data-result-id="\{{_id}}">\{{name}}</h2>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img class="responsive-img" src="\{{image}}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h4 class="flow-text">\{{address1}}</h4>
                                <h4 class="flow-text">\{{address2}}</h4>
                                <h4 class="flow-text">\{{address3}}</h4>
                                <h4 class="flow-text">\{{city}}, \{{state}} \{{zipcode}}</h4>
                                <h4 class="flow-text">\{{email}}</h4>
                                <h4 class="flow-text"> #: \{{phone_number}}</h4>
                                <a href="\{{website}}">Check Their Website</a>

                            </div>
                            <div class="card-action">
                                <a href="\{{book_appointment}}">Make An Appoinment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s10">
                    <h2 class="header subHeader">How much does an abortion cost?</h2>
                    <div class="card horizontal">
                        <div class="card-image valign-wrapper col s3" style="background-image: url('http://www.usnews.com/dims4/USNEWS/9bd3984/2147483647/thumbnail/970x647/quality/85/?url=%2Fcmsmedia%2F45%2F9d9748f17efad09ed5076abf00a556%2F41235FE_DA_MedicalBill_050213.jpg')">
                            <!-- <img class="costs circle responsive-img valign" src="http://www.usnews.com/dims4/USNEWS/9bd3984/2147483647/thumbnail/970x647/quality/85/?url=%2Fcmsmedia%2F45%2F9d9748f17efad09ed5076abf00a556%2F41235FE_DA_MedicalBill_050213.jpg"> -->
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p class="flow-text">Abortion prices vary depending on the clinic, method, and time since conception. However, California is one of the few states in the country that mandates that most health insurance plans must cover elective abortion proecedures.
                                    However, you should call \{{name}} before making an appointment to get a co-pay estimate.
                                    <br>
                                    <br> If you currently do not have health insurance, the cost can range from $500 to $2000 depending on how long it has been since conception. If you are worried that you cannot afford the procedure, ask \{{name}} if they
                                    offer a sliding scale or contact the National Network of Abortion Funds.</p>
                                <p class="flow-test"> </p>
                            </div>
                            <div class="card-action">
                                <a href="http://clearhealthcosts.com/blog/2014/06/much-abortion-cost-draft-theresas/">Learn More About Abortion Costs</a>
                                <br>
                                <br>
                                <a href="https://fundabortionnow.org/get-help">Contact National Network of Abortion Funds</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script id='storys-template' type='text/x-handlebars-template'>
            \{{#each this}}
                <div class="row">
                    <div class="col s10">
                        <div class="row valign-wrapper">
                            <h2 class="header subHeader storyHeadline">What is having an abortion here like?</h2>
                            <a id="submitNewStoryButton" class="modal-trigger valign waves-effect btn-primary waves-light btn right top" href="#modalNewStory">Add Your Own Story</a>
                        </div>
                        <div class="row">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">

                                        <p class="flow-text">"\{{breaklines story_content}}"</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                \{{/each}}
        </script>






        <div id="bottomContent">
        </div>
        <div id="storyContent">
        </div>
        <!-- <li class="" style="transform: translateX(0px); opacity: 1;"> -->
        <script id='search-template' type='text/x-handlebars-template'>
            <div id="resultContainer" class="center-align flow-text" data-result-id="\{{_id}}">
                <div class="row resultsRow center-align">
                    <div class="col s7 offset 3 cardContainer">
                        <div class="card horizontal resultsCard">
                            <div class="card-image">
                                <div class="bigLetter col s1 offset-s4  flow-text">
                                    <h1 class="bigLetterHeadline">\{{letter_designation}}<h1>
            </div>
          </div>
          <div class="card-stacked">
            <div class="card-content noMargin noPadding">
              <h4 class="flow-text">\{{name}}<h4>
              <h4 class="flow-text">\{{address1}}</h4>
              <h4 class="flow-text">\{{address2}}</h4>
              <h4 class="flow-text">\{{address3}}</h4>
            </div>
            <div class="card-action">
              <a href='#' class="flow-text learnMoreButton">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
          <!-- <div id="resultContainer" class="center-align flow-text" data-result-id="\{{_id}}">
          <div class="row resultsRow">
            <div class="bigLetter col s1 offset-s2  flow-text">
              <h1 class="bigLetterHeadline">\{{letter_designation}}<h1>
            </div>
            <div class="col s6">
        <ul id="staggered-test">
        <li>
          <div> <h2><a href="#"><h1 class="flow-text">\{{name}}<h1></a></h2>
            <h4 class="flow-text"> \{{address1}}</h4>
            <h4 class="flow-text"> \{{address2}}</h4>
            <h4 class="flow-text"> #: \{{phone_number}}</h4>
          </div>
              </li>
            </div>
          <div class="learnMoreButtonContainer col s2">
            <button class="learnMoreButton waves-effect waves-light btn valign left">Learn More</button>
            </div>
      </div>
      </ul>
      </div> -->
        </script>
  </div>
</body>

</html>
